go 1.20

use ./TheAIGames/CompetativeCoding/SparseArray/go/codewhisperer
use ./TheAIGames/CompetativeCoding/SparseArray/go/chatgpt
use ./TheAIGames/CompetativeCoding/SparseArray/go/cody
use ./TheAIGames/CompetativeCoding/SparseArray/go/copilot
use ./TheAIGames/CompetativeCoding/SparseArray/go/starcoder
use ./TheAIGames/CompetativeCoding/SparseArray/go/tabnine
use ./TheAIGames/CompetativeCoding/MatrixRotation/go/codewhisperer
use ./TheAIGames/CompetativeCoding/MatrixRotation/go/chatgpt
use ./TheAIGames/CompetativeCoding/MatrixRotation/go/cody
use ./TheAIGames/CompetativeCoding/MatrixRotation/go/copilot
use ./TheAIGames/CompetativeCoding/MatrixRotation/go/starcoder
use ./TheAIGames/CompetativeCoding/MatrixRotation/go/tabnine
use ./TheAIGames/CompetativeCoding/SubarrayDevision/go/codewhisperer
use ./TheAIGames/CompetativeCoding/SubarrayDevision/go/chatgpt
use ./TheAIGames/CompetativeCoding/SubarrayDevision/go/cody
use ./TheAIGames/CompetativeCoding/SubarrayDevision/go/copilot
use ./TheAIGames/CompetativeCoding/SubarrayDevision/go/starcoder
use ./TheAIGames/CompetativeCoding/SubarrayDevision/go/tabnine
use ./TheAIGames/AdventOfCode/day-fifteen/go/chatgpt
use ./TheAIGames/AdventOfCode/day-fifteen/go/cody
use ./TheAIGames/AdventOfCode/day-fifteen/go/copilot
use ./TheAIGames/AdventOfCode/day-fifteen/go/starcoder
use ./TheAIGames/AdventOfCode/day-fifteen/go/tabnine
use ./TheAIGames/AdventOfCode/day-five/go/chatgpt
use ./TheAIGames/AdventOfCode/day-five/go/cody
use ./TheAIGames/AdventOfCode/day-five/go/copilot
use ./TheAIGames/AdventOfCode/day-five/go/starcoder
use ./TheAIGames/AdventOfCode/day-five/go/tabnine
use ./TheAIGames/AdventOfCode/day-ten/go/chatgpt
use ./TheAIGames/AdventOfCode/day-ten/go/cody
use ./TheAIGames/AdventOfCode/day-ten/go/copilot
use ./TheAIGames/AdventOfCode/day-ten/go/starcoder
use ./TheAIGames/AdventOfCode/day-ten/go/tabnine
use ./TheAIGames/AdventOfCode/day-one/go/chatgpt
use ./TheAIGames/AdventOfCode/day-one/go/cody
use ./TheAIGames/AdventOfCode/day-one/go/copilot
use ./TheAIGames/AdventOfCode/day-one/go/starcoder
use ./TheAIGames/AdventOfCode/day-one/go/tabnine
use ./TheAIGames/AdventOfCode/day-twenty/go/chatgpt
use ./TheAIGames/AdventOfCode/day-twenty/go/cody
use ./TheAIGames/AdventOfCode/day-twenty/go/copilot
use ./TheAIGames/AdventOfCode/day-twenty/go/starcoder
use ./TheAIGames/AdventOfCode/day-twenty/go/tabnine
use ./TheAIGames/AdventOfCode/day-twenty-four/go/chatgpt
use ./TheAIGames/AdventOfCode/day-twenty-four/go/cody
use ./TheAIGames/AdventOfCode/day-twenty-four/go/copilot
use ./TheAIGames/AdventOfCode/day-twenty-four/go/starcoder
use ./TheAIGames/AdventOfCode/day-twenty-four/go/tabnine
